.wrapper {
  width: 100%;
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;   /* 16:9 ratio */
  display: block;
  content: '';
}
.wordcloud {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: beige;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
text {
  fill:gray;
}
text.positive {
  fill:green;
}
text.negative {
  fill:red;
}
