body {
  font-family: 'Cantarell', serif;
  font-size:14px;
}
.bold {
  font-weight:bold;
}
.label {
  font-size:0.75em;
  font-weight:normal;
}
.metadata-wrapper {
  width:30%;
  float:right;
}
.wordcloud-wrapper {
  width: 70%;
  float:left;
  display: inline-block;
  position: relative;
}
.wordcloud-wrapper:after {
  padding-top: 56.25%;   /* 16:9 ratio */
  display: block;
  content: '';
}
.metadata {
  padding:10px;
}
.wordcloud {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #D4CDAD;
  color: white;
}
text {
  font-family: 'Fjalla One', sans-serif;
  fill:gray;
  cursor:pointer;
}
.positive {
  fill:#25857D;
  color:#25857D;
}
.neutral {
  fill:gray;
  color:gray;
}
.negative {
  fill:#942222;
  color:#942222;
}
